<!-- <form class="example-form"  [formGroup]="service.form" class="normal-form" (submit)="onSubmit()">

  <table class="example-full-width" cellspacing="0">
    <tr>
      <div id="example-espace-td">
        <td>

          <mat-form-field appearance="outline">
            <mat-label>First name</mat-label>
            <input matInput placeholder="Placeholder">
            <mat-icon matSuffix>person</mat-icon>
            <mat-hint></mat-hint>
          </mat-form-field>


        </td>


      </div>

      <td>
        <div id="example-espace-td">
       <mat-form-field appearance="outline">
        <mat-label>Last Name</mat-label>
        <input matInput placeholder="Placeholder">
        <mat-icon matSuffix>person</mat-icon>
        <mat-hint></mat-hint>
      </mat-form-field>
        </div>

    </td>
    </tr>
    <tr>

      <td>
        <div id="example-espace-td">
      <mat-form-field appearance="outline">
        <mat-label>Address</mat-label>
        <input matInput placeholder="Placeholder">
        <mat-icon matSuffix>contacts</mat-icon>
        <mat-hint></mat-hint>
      </mat-form-field>
    </div>



    </td>


      <td>
    <div id="example-espace-td">
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Placeholder">
        <mat-icon matSuffix>email</mat-icon>
        <mat-hint></mat-hint>
      </mat-form-field>
    </div>
    </td>

    </tr>

    <tr>
    <td>
    <div id="example-espace-td">

      <mat-form-field appearance="outline">
        <mat-label>Date de naissance</mat-label>
        <input matInput [matDatepicker]="dp" [min]="minDate" [max]="maxDate">
        <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
        <mat-datepicker #dp></mat-datepicker>
      </mat-form-field>


      </div>
    </td>

    <td>
      <div id="example-espace-td">

      <mat-form-field appearance="outline">


        <input matInput  type="text"
        ng2TelInput
        [ng2TelInputOptions]="{initialCountry: 'sn'}"
        (hasError)="hasError($event)"
        (ng2TelOutput)="getNumber($event)"
        (intlTelInputObject)="telInputObject($event)"
        (countryChange)="onCountryChange($event)">
        <mat-icon matSuffix>phone</mat-icon>

      </mat-form-field>
    </div>


      </td>


  </tr>
  <tr>
    <td>
      <div id="example-espace-td1">
      <button mat-raised-button color="primary">Ajouter</button>
    </div>
    </td>
    <td>
      <div id="example-espace-td">
      <button mat-raised-button color="warn" >Annuler</button>
    </div>
    </td>

  </tr>


</table>

</form> -->
